@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
     url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}
*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    font-family: 'vazir';
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #9e7b7b, #be9348);
}


.search{
    height: 50px;
    border-radius: 16px;
    position: relative;
    -webkit-border-radius: 14px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.search .input{
    font-family: 'vazir';
    font-size: 18px;
    padding: 5px 10px;
    height: 50px;
    width: 20px;
    border-radius: 16px;
    border: none;
    transition: width .4s ease;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -ms-transition: width .4s ease;
    -o-transition: width .4s ease;
}
.search.active .input{
    width: 300px;
}
.search .btn{
   padding: 15px;
   border: none;
   background: #fff;
   position: absolute;
   top: 0;
   right: 0;
   width: 50px;
   height: 60px;
   cursor: pointer;
   border-radius: 14px;
   box-sizing: border-box;
   transition: right .4s ease;
   -webkit-transition: right .4s ease;
   -moz-transition: right .4s ease;
   -ms-transition: right .4s ease;
   -o-transition: right .4s ease;
   font-size: 24px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   -ms-border-radius: 14px;
   -o-border-radius: 14px;
}   

.search.active .btn{
    right: 300px;
}
